* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color:rgb(179, 179, 179);
}
 
.container {
    padding: 60px 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 530px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
button {
    width: 100%;
    background-color: #4D4DCD;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    margin-top:2rem;
    padding: 10px 10px;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}
h1 {
    margin-bottom: 50px;
    color: #4D4DCD;
    text-transform: uppercase;
    font-size: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
}
img {
    margin-top: -60px;
    width: 170px;
}
.form-control {
    width: 100%;
    margin-bottom: 15px;
    margin-top:6px;
    border: none;
    font-size:16px;
    padding: 8px 10px;
    background-color:#ececec;
}

input:focus {
    outline: 2px solid #4D4DCD;
}
label {
    color: rgb(114, 114, 114);
}

/* loading */

#loading {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: #4D4DCD;
    width: 100%;
}

/* ========= */

.rigth {
    cursor: grabbing;
    font-size:40px
}



@media (max-width:560px) {
    .container {
        margin: auto 30px;
        padding: 60px 50px;
    }
}
@media (max-width:400px) {
    .container {
        margin: auto 30px;
        padding: 60px 30px;
    }
}